{% extends 'base.html' %}

{% block title %}
  Lista de Categorias - {{ block.super }}
{% endblock %}

{% block body %}
  <br />
  <b>Lista de Categorias</b>
  <br />
  <br />
  <table border="1">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Descricao</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
        <tr>
          <th>{{ category.id }}</th>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
