{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/arquivo_com_estilos.css' %}">
    <title>{% block title %}Nome do meu App{% endblock title %}</title>
</head>
<body class="core_body">
    {% if user.is_authenticated %}
    <a href="{% url 'core:home' %}" ><img src="{% static 'img/menu.png' %}" width="200" height="60" /></a>
    <br />
    <a href="{% url 'categories:list_categories' %}" ><button onclick="mudarCor()">Categorias</button></a>
    <a href="{% url 'products:list_products' %}" ><button>Produtos</button></a>
    <a href="{% url 'clients:list_clients' %}" ><button>Clientes</button></a>
    <a href="{% url 'employees:list_employees' %}" ><button>Funcionários</button></a>
    <a href="{% url 'socialnetworks:list_socialnetworks' %}" ><button>Rede social</button></a>
    <a href="{% url 'orders:list_orders' %}" ><button>Pedidos</button></a>
    <a href="{% url 'orders:list_items_products' %}" ><button>Compras</button></a>
    <a href="#"><button>{{ user.get_full_name|default:user.username }}</button></a>
    <a href="{% url 'accounts:user_change_information' user.username %}"><button>Conta</button></a>
    <a href="{% url 'accounts:user_change_password' %}"><button>Trocar senha</button></a>
    <a href="{% url 'accounts:user_logout' %}"><button>Sair</button></a>
    <br />

    <br/>
    <form action="{% url 'clients:search_clients' %}" method="GET">
        <input name="query" type="text" placeholder="Sobrenome do cliente" aria-label="Buscar">
        <button type="submit">Buscar</button>
    </form>
    {% endif %}

    {% block body %}

    {% endblock body %}

    <script src="{% static 'js/arquivo_com_javascript.js' %}"></script>
</body>
</html>
