.core_body {
  background-color: rgb(190, 198, 202);
}

button {
  background-color: #157caf;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 40px;
}

button:hover {
  background-color: rgb(0, 0, 0);
}

.invoice_container {
  width: 700px;
  margin: auto;
}

.invoice_box {
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

.invoice_h2 {
  text-align: center;
}

.invoice_table {
  width: 100%;
  border-collapse: collapse;
}

.invoice_table, .invoice_th, .invoice_td {
  border: 1px solid black;
}

.invoice_th, .invoice_td {
  padding: 5px;
  text-align: center;
}
